#section1,
#section2,
#section3{
  
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 50%; 
}


#section1{
  background-image: url('/cafe1.png');
  background-position: bottom;

}

#section2{
  background-image: url('/cafe2.png');
  background-position: top;

}

#section3{
  background-image: url('/cafe3.png');
  background-position: center;
}