.container {
  background-color: white;
  position: relative;
  min-height: 100vh;
}

.main {
  background-color: white;
  -webkit-box-flex: 1;
  /* -ms-flex: 1 0 auto; */
  flex: 1 0 auto;
  display: block;
  height: 100%;
}

.mgrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.mcol {
  margin: 0 auto;
  -webkit-box-flex: initial;
  flex-grow: initial;
  width: 66.6666666667%;
  padding-right: 24px;
  padding-left: 24px;
}

.mcol_title {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #807d67;
}

.title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.card {
  grid-template-areas: "meta meta meta content content content content content content content content content";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-auto-columns: 50vmax;
  padding-bottom: 40px;
  position: relative;
}

.cardmeta {
  grid-area: meta;
}

.cardcontent {
  grid-area: content;
}

.cardtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.cardtitle a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.cardtime {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.cardtext {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .mcol {
    margin: 0;
    width: 100%;
  }
  .card {
    padding-bottom: 10px;
    grid-column-gap: 10px;
  }

  .cardtime {
    font-size: 14px;
  }

  .cardtext {
    display: none;
  }

  .cardtitle {
    font-size: 14px;
  }

  .title{
    font-size: 24px;
    line-height: 0px;
  }

  .mcol_title{
    margin-bottom: 20px;
  }
}
