.logo img {
  height: 10vh;
}

.nav {
  min-height: 12vh;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 999;
  width: 100%
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlinks li {
  list-style: none;
}
.navlinks a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
